In [4]:
import pandas as pd
dadosUm = pd.read_csv('dados_1.csv')
dadosUm

,Feature_0,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,...,Feature_11,Feature_12,Feature_13,Feature_14,Feature_15,Feature_16,Feature_17,Feature_18,Feature_19,Label
0,-1.918589,-2.504736,0.129979,1.144094,1.714314,0.644021,0.010067,-2.243267,-2.289591,-3.157594,...,-1.563160,-0.003531,-0.819073,2.609332,-0.957484,1.698459,0.630487,-1.818666,6.793760,0
1,1.703727,1.236490,2.632384,-0.451056,-1.318009,0.158059,-0.686880,2.123858,1.459990,2.027665,...,1.490331,-0.261566,-3.277112,0.131795,0.387347,-1.026035,1.099396,1.973326,1.679518,0
2,0.513048,-4.473221,1.972778,4.994542,-0.839594,-1.320484,0.247288,1.767002,-0.294797,4.051059,...,-3.560979,0.696071,-1.728930,0.440227,-4.808164,-0.645908,7.066454,-0.066486,3.931558,1
3,-0.295201,-5.930419,0.122670,0.290137,-5.200017,5.789733,0.614547,-1.068637,0.718901,1.797997,...,2.845911,0.319121,-1.504172,0.721375,1.882201,1.109099,-2.300612,-2.967003,3.854491,1
4,0.587042,2.795540,2.277552,-1.600965,1.504304,1.756499,0.392907,1.318220,1.573603,-3.821870,...,0.422041,-2.329800,1.773869,4.595936,-2.525030,-0.024171,2.880676,-1.999992,6.793826,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2.171993,-1.011907,2.757667,-0.652046,0.773601,3.054215,-0.353705,-1.032815,1.827557,-3.674933,...,-2.239843,0.432624,-1.035057,1.026815,1.123664,0.091719,-8.593393,-0.490805,6.950320,1
996,-0.315192,-1.750600,-1.477538,0.126380,1.546491,-0.301514,0.714817,-0.084029,1.233513,-0.356516,...,-0.061296,-1.058779,-2.999053,-2.035743,-1.894041,-1.858125,-3.052078,-1.234157,6.516111,1
997,-1.180498,-1.584507,-0.163904,2.515817,1.865299,-4.498530,-0.265523,1.410299,1.120476,-0.360669,...,1.165477,-1.359095,-0.593997,-1.823768,0.152494,-0.905336,-0.097554,2.581352,-3.132297,0
998,0.120373,-2.374496,-1.550744,2.629338,-1.719848,-1.457165,0.214985,1.815077,0.545195,-1.019646,...,-1.794564,0.772419,-0.700239,-0.917579,-0.164602,-0.822949,3.933463,-1.470751,0.711307,1
999,0.334300,0.431714,1.240776,0.368752,-0.739443,2.626357,0.517721,1.409888,0.868295,2.563014,...,0.783850,-0.697675,-1.677292,-2.466627,0.187075,-0.256734,0.268845,-0.164532,-0.913629,1

In [14]:
dadosDois = pd.read_csv('dados_2.csv',sep=';')
dadosDois

,Feature_0,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,Label
0,-0.137864,1.532235,2.196646,0.729666,0.767479,-1.226179,-1.560715,0.681743,0.979455,0.962503,0
1,-1.579388,2.229179,0.227496,0.227534,0.635968,1.609521,1.577512,-0.474178,-3.391835,-0.771772,1
2,-0.177830,0.940990,0.585904,-1.391726,-0.736770,-1.406815,-0.483805,-0.322028,-0.703056,1.325432,0
3,-0.391865,1.320738,2.015275,-1.018709,1.290644,-1.889649,-0.404848,0.363116,-0.923430,0.311110,0
4,0.716359,0.533305,1.483744,-2.165546,-0.734811,-0.640154,-2.329548,-1.085748,1.428992,0.029796,1
...,...,...,...,...,...,...,...,...,...,...,...
995,-0.849169,1.073884,-0.385673,-0.113270,0.434503,-1.334611,1.026824,1.040062,-2.035535,-0.739771,1
996,-1.005058,1.234090,-0.459657,0.158606,-1.079842,0.918915,1.224641,1.193113,-2.273007,1.021515,1
997,-0.700731,1.491741,0.472630,0.180478,-1.366858,0.018017,0.084138,-0.863494,-1.128284,-0.031203,0
998,-0.483023,0.827078,-0.671721,0.101566,-1.254161,-0.276889,0.303358,-1.315441,-0.923523,1.309444,0
999,-0.469247,1.185412,-1.672894,-0.548944,0.404213,-0.249072,-0.087880,-2.036221,-0.999787,0.047493,0

In [16]:
dadosTres = pd.read_csv('dados_3.csv', sep=' ')
dadosTres

      Feature_0  Feature_1  Feature_2  Feature_3  Feature_4  Label
0      1.901371   0.858262   1.584843   1.130733  -1.522889      1
1      0.600063   0.225434   0.520463  -0.074065  -0.255904      1
2     -1.832360   2.199767  -1.689085   2.345099  -0.323531      1
3     -1.839614   0.741564  -1.688487   2.199702  -0.244150      1
4     -0.939304   0.110936  -0.857044   1.014978  -0.068246      0
...         ...        ...        ...        ...        ...    ...
2995  -0.759921   1.353863  -0.615804  -0.825844   0.803644      0
2996  -1.187728  -0.066599  -1.088481   1.384687  -0.139106      1
2997   1.539066   0.850768   1.316687   0.196862  -0.858073      0
2998   1.552319   0.177792   1.266162   1.512109  -1.550442      1
2999  -1.051356   1.699054  -0.899607  -0.131039   0.584367      0

[3000 rows x 6 columns]

In [24]:
dadosQuatro = pd.read_csv('dados_4.csv', sep='\t', header =None)
dadosQuatro

,0,1,2,3,4,5,6,7,8,9,10
0,-0.848905,-2.192934,-1.043920,-1.010977,0.049679,1.032537,-0.122524,2.443615,-0.301006,-0.814983,3
1,-0.919321,1.456459,0.147485,-3.275885,-0.333815,1.000514,0.004069,-0.360054,-0.113266,1.690327,3
2,-1.295318,0.411843,-1.159148,-2.495045,-1.221641,0.369156,-1.533276,0.941197,0.081715,1.801694,1
3,-0.186614,-0.384290,0.441852,-0.139822,-0.581831,0.628671,-0.786553,0.703124,0.718486,1.241956,1
4,0.133624,-0.700827,-0.605545,-1.746508,-0.515908,0.001855,0.426752,1.175182,0.415367,-0.560101,1
...,...,...,...,...,...,...,...,...,...,...,...
995,-1.278002,0.042174,-1.043923,-0.582927,2.087794,-0.382436,-2.192232,-1.673785,-1.408238,-0.422837,3
996,0.179333,-1.337413,1.824631,0.303217,-0.185231,1.024515,0.264696,0.954682,0.684744,0.555915,0
997,-0.625184,-0.823048,0.765353,2.195479,-0.746329,-1.012400,0.496052,0.398102,0.166193,-0.706404,0
998,-1.026824,-1.730290,0.849879,1.500112,-0.309153,0.737387,-0.409057,1.439680,-0.068949,0.326736,1
999,0.856985,-1.018874,-1.397558,-0.140379,-0.448334,-2.353416,1.344879,0.624369,0.366474,-3.216414,0

In [19]:
dadosCinco = pd.read_csv('dados_5.csv', sep='\t')
dadosCinco

,Unnamed: 0,Feature_0,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,Target
0,0,-0.021182,0.012130,-0.018755,-0.063668,-0.037392,-0.009378,0.031608,0.014331,-0.001612,-0.048429,-5.194355
1,1,0.000074,0.019679,0.037544,-0.047496,-0.000815,-0.030114,-0.029297,-0.017839,0.009390,0.019566,-3.376057
2,2,-0.045825,-0.033578,-0.007455,0.023250,-0.014264,-0.004916,0.027738,0.008681,0.023500,-0.020179,-0.459187
3,3,0.026060,-0.004648,0.009928,-0.026802,0.026844,0.022864,-0.009244,-0.013375,-0.036422,0.037626,4.352418
4,4,-0.036686,-0.026732,-0.005009,0.011530,0.003022,0.003656,-0.005076,0.005985,-0.007661,-0.024999,-0.668197
...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,0.009579,-0.008893,-0.015631,0.036372,-0.002781,0.007098,0.024577,-0.037334,0.010913,-0.023532,0.831118
996,996,-0.033153,-0.050921,0.008092,0.036656,-0.010303,0.029257,0.028835,-0.025513,0.032988,-0.027317,0.988730
997,997,-0.056353,-0.046244,0.016512,-0.005966,0.043043,0.022756,0.007156,0.014818,-0.027437,-0.040375,2.941199
998,998,-0.032132,-0.063062,0.008611,-0.026438,-0.015834,-0.016273,0.003284,0.025204,0.041530,-0.009944,-3.273184
999,999,-0.026083,0.000652,-0.005897,-0.021854,-0.010879,-0.011824,-0.016702,-0.002503,0.020781,-0.007161,-2.850536

In [26]:
dadosSeis = pd.read_csv('dados_6.csv', header=None, sep='\t')
dadosSeis

,0,1,2,3,4,5,6,7,8,9,10
0,-1.626850,-2.675881,3.029605,-0.323830,0.190790,-2.559812,0.406867,0.202089,2.047027,-2.568138,0
1,0.124887,-1.025044,0.521990,-2.095166,0.221847,-1.693476,-0.426833,1.320412,1.138497,-0.102198,0
2,-0.541229,-2.368121,1.827388,-1.370912,1.680010,-2.452930,0.490978,1.023766,1.988620,-2.198035,0
3,-4.046177,4.052463,3.835139,-0.558254,-0.859638,1.935893,0.892909,-0.045699,-1.254822,2.212408,0
4,-2.791270,1.776555,2.142707,0.279566,1.242548,1.178050,-0.258540,1.273198,0.254972,1.165803,0
...,...,...,...,...,...,...,...,...,...,...,...
999995,1.841844,-1.081227,-0.601514,-1.041679,-1.380062,-0.929006,-0.597511,0.067266,0.017762,-2.544658,0
999996,-2.805988,1.737186,1.404542,1.806035,-0.436407,1.975983,-0.535935,0.175755,0.249403,1.371157,0
999997,-3.909082,1.589143,0.114744,4.023767,1.252311,3.577290,-1.188318,0.993558,2.153193,2.584481,0
999998,-2.581747,2.413372,2.464464,0.606348,0.679737,1.412132,0.311622,-1.438362,-1.169999,1.087373,0
999999,-0.054737,-1.125135,1.175885,-2.431503,-0.981067,-2.161906,-0.021619,-0.036317,0.935807,-0.270891,0

In [67]:
dadosSete = pd.read_csv('dados_7.csv', encoding='latin', sep=';').dropna()
dadosSete

,Feature_0,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,Label
0,-364.202.786.094.168,-0.8564950098531674,0.48003085515073796,-30.389.964.131.652.900,5.311.533.974.331.550,12.967.327.909.752.600,0.8677246377010628,0.006499481623922554,1.610.809.450.452.100,0.8652007115565575,0.0
1,-3.069.515.464.093.610,0.3905100998188409,-15.308.593.764.090.500,-34.391.907.840.140.100,5.488.365.208.944.090,-18.744.391.879.703.700,-19.466.869.785.094.200,2.845.431.038.930.490,-34.131.220.349.938.500,-0.5172892751139354,0.0
2,-1.095.382.246.835.630,-0.2895228605137005,-0.7505425213388771,3.020.338.664.949.950,-3.902.672.561.910.940,-35.266.149.474.863.200,-0.24806987683977533,16.124.858.378.691.700,-0.44154126591930737,-0.2887690344115922,0.0
3,-0.6849995114017773,0.4060420930014336,0.7559655696373988,0.9619779562839578,-160.769.440.782.677,-0.826183227906239,0.8970034756152219,-0.09236123400357132,10.859.085.726.122.400,0.3238225880584657,0.0
4,-14.687.019.920.326.700,-19.087.925.015.033.300,-11.490.368.406.342.900,-11.366.502.567.374.300,44.478.194.966.252.000,30.591.883.000.557,-14.328.117.844.311.200,-0.05588067050422674,1.712.652.138.091.530,-0.3164734597218443,0.0
...,...,...,...,...,...,...,...,...,...,...,...
99995,12.028.459.078.127.000,24.939.360.588.759.000,-15.442.158.747.219.000,11.254.294.375.344.200,-10.423.865.000.430.600,-11.820.953.933.383.700,0.007275740357088168,14.867.163.923.397.700,-2.273.574.270.219.520,-0.8828341599754951,1.0
99996,-34.365.771.929.166.200,0.15634794953697181,-0.5666205808353979,0.2638086598137419,18.843.175.238.009.800,0.09900996405076823,0.1263367134555781,0.652913691578096,22.000.776.369.801.600,0.6482622711146065,0.0
99997,-14.802.665.936.976.500,-0.09347362555293345,-11.317.857.206.649.000,-38.499.249.984.976.100,4.147.892.947.952.850,-2.911.891.407.157.230,-0.14432933709824955,26.326.948.425.862.200,-5.273.113.688.017.330,-0.5731700488803014,0.0
99998,-16.208.269.928.613.100,-0.6924131629386829,-0.8280839753454878,14.321.037.556.627.600,0.23227216775151935,-0.4851131562943687,0.7716076404415794,16.744.576.228.231.400,0.8155510782206856,-0.6798374361835198,0.0
99999,-20.578.372.016.681.400,-0.7100442192408113,-12.456.202.811.178.800,-29.032.587.286.580.700,5.518.999.032.138.300,0.5025493377481797,0.2682260119856821,1.644.009.664.114.460,-154.347.682.773.012,0.37360453719796266,0.0

In [68]:
dadosOito = pd.read_csv('dados_8.csv', sep=';').dropna()
dadosOito

      Feature_0            Feature_1  Feature_2 Label
0      0.036435    1.192022418861353  -1.326348     0
1     -2.362614    0.999835110803413  -0.969421     0
2     -0.439421   0.4202877067824724   1.409511     1
3     -1.760930  -0.7317809156657651  -0.925953     0
4     -0.216907   1.3998695375029746   2.076070     1
...         ...                  ...        ...   ...
4995  -0.393958  -1.7838043938979733   0.153619     1
4996  -1.720548  -0.6341833261618026  -1.121617     0
4997  -0.287575   0.9354108121251281  -0.804564     0
4998   0.978160   1.0806602274484232   0.947937     1
4999   0.228668   0.9039355800442616  -0.838433     0

[3999 rows x 4 columns]

### Aula Seis - 6

In [39]:
dadosNove = pd.read_csv('dados_9.csv', sep=';', decimal=',', na_values={'Feature_2':'-999'})
dadosNove.describe()

         Feature_0    Feature_1    Feature_2
count  9499.000000  9499.000000  9499.000000
mean     -0.139551     0.151968    -0.286849
std       1.022564     1.015530     1.046226
min      -3.440038    -4.616532    -5.364879
25%      -0.804302    -0.490999    -0.962548
50%      -0.369344     0.210618    -0.394128
75%       0.292228     0.859137     0.273881
max       5.899292     4.288203     4.477169

In [6]:
dadosNove.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10500 entries, 0 to 10499
Data columns (total 4 columns):
Feature_0    9499 non-null float64
Feature_1    9499 non-null float64
Feature_2    9499 non-null float64
Label        3 non-null object
dtypes: float64(3), object(1)
memory usage: 328.2+ KB

In [7]:
dadosNove.loc[dadosNove['Label'].notna()]

      Feature_0  Feature_1  Feature_2  Label
0     -0.452605  -0.022775  -0.091485   alto
6252   1.046313  -1.159016   1.049090  baixo
8988  -0.048281  -1.354528  -1.757549  medio

In [8]:
novoDadosNove = dadosNove.copy()
novoDadosNove['Label'] = dadosNove['Label'].fillna(method='ffill')
novoDadosNove.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10500 entries, 0 to 10499
Data columns (total 4 columns):
Feature_0    9499 non-null float64
Feature_1    9499 non-null float64
Feature_2    9499 non-null float64
Label        10500 non-null object
dtypes: float64(3), object(1)
memory usage: 328.2+ KB

In [9]:
novoDadosNove.isna().sum()/novoDadosNove.shape[0]

Feature_0    0.095333
Feature_1    0.095333
Feature_2    0.095333
Label        0.000000
dtype: float64

In [10]:
novoDadosNove[novoDadosNove['Feature_0'].isna()]

       Feature_0  Feature_1  Feature_2  Label
1040         NaN        NaN        NaN   alto
1041         NaN        NaN        NaN   alto
1042         NaN        NaN        NaN   alto
1045         NaN        NaN        NaN   alto
1046         NaN        NaN        NaN   alto
...          ...        ...        ...    ...
10483        NaN        NaN        NaN  medio
10487        NaN        NaN        NaN  medio
10490        NaN        NaN        NaN  medio
10492        NaN        NaN        NaN  medio
10498        NaN        NaN        NaN  medio

[1001 rows x 4 columns]

In [11]:
novoDadosNove = novoDadosNove.dropna()
novoDadosNove

       Feature_0  Feature_1  Feature_2  Label
0      -0.452605  -0.022775  -0.091485   alto
1       0.217810  -1.666798   0.467025   alto
2      -0.680914  -0.905353   0.873003   alto
3      -0.151409   0.086429  -0.390574   alto
4      -0.056500   0.717154  -1.556635   alto
...          ...        ...        ...    ...
10494   0.264197  -1.990286   1.541298  medio
10495   1.240600   0.429632  -0.046192  medio
10496   0.686432  -2.463771   0.292171  medio
10497   1.413050  -0.322188   0.656235  medio
10499   1.703322  -0.429376   1.001266  medio

[9499 rows x 4 columns]

In [12]:
novoDadosNove.duplicated().sum()
novoDadosNove['Label'].map({'alto': 2})

0        2.0
1        2.0
2        2.0
3        2.0
4        2.0
        ...
10494    NaN
10495    NaN
10496    NaN
10497    NaN
10499    NaN
Name: Label, Length: 9499, dtype: float64

### Teste para Clasificação

In [21]:
from sklearn.model_selection import train_test_split 
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [17]:
novoDadosNove.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9499 entries, 0 to 10499
Data columns (total 4 columns):
Feature_0    9499 non-null float64
Feature_1    9499 non-null float64
Feature_2    9499 non-null float64
Label        9499 non-null object
dtypes: float64(3), object(1)
memory usage: 371.1+ KB

In [18]:
novoDadosNove.head()

   Feature_0  Feature_1  Feature_2 Label
0  -0.452605  -0.022775  -0.091485  alto
1   0.217810  -1.666798   0.467025  alto
2  -0.680914  -0.905353   0.873003  alto
3  -0.151409   0.086429  -0.390574  alto
4  -0.056500   0.717154  -1.556635  alto

In [23]:
#split entre features e label
X = novoDadosNove.drop(columns= ['Label'])
y = novoDadosNove.loc[:, 'Label']

In [24]:
# Split entre dados de treino e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [27]:
# treinando o modelo
modelo = DecisionTreeClassifier(random_state=42)
modelo.fit(X_train, y_train)

y_pred = modelo.predict(X_test)

In [36]:
# avaliando o modelo
acc_modelo = accuracy_score(y_test, y_pred) * 100
print(f'acurácia: {acc_modelo:.2f}%')

acurácia: 79.65%

          0
0     baixo
1     baixo
2      alto
3     baixo
4     baixo
...     ...
2845   alto
2846  medio
2847   alto
2848  baixo
2849  medio

[2850 rows x 1 columns]